<html>
  <body>
    <form action="{{ upload_url }}" method="POST" enctype="multipart/form-data" onsubmit="return checkSubmit(this)">
      Upload Message.htm: <input type="file" name="file"><br>
      Choose Your Language:
      <select name="lang" id="lang" onchange="checklang()">
        <option value="">----</option>
        {% for key,value in langs.iteritems() %}
          <option value="{{ key }}">{{ value['showName'] }}</option>
        {% endfor %}
      </select></br>
      <input type="submit" id="submit" name="submit" value="Submit" disabled=true>
    </form>
    <script>
      function checklang() {
        var value = document.getElementById("lang").value
        document.getElementById("submit").disabled = (value == "")
      }
      function checkSubmit(form) {
        form.submit.disabled = true;
        return true;
      }
    </script>
  </body>
</html>
