<html>
<head>
  <meta charset="utf-8">
  <title>view</title>
</head>
<body>
  <label id="status"></label>

<script>
function fetchUser() {
  console.log("fetch user")

  var statusLabel = document.getElementById("status");
  var userRequest = new Request('/fetch?type=user');
  var userInit = {
    method: "GET",
    credentials: "same-origin" };
  fetch(userRequest, userInit).then(function(response) {
    response.json().then(function(data) {
      console.log(data);
      statusLabel.innerHTML = data['user'];
    })
  })
}

function fetchGroup() {
  var groupRequest = new Request('/fetch?type=group');
  var groupInit = {
    method: "GET",
    credentials: "same-origin" };
  fetch(groupRequest, groupInit).then(function(resp) {
    resp.json().then(function(data) {
      console.log(data['group']);
    })
  })
}

function fetchMessage() {
  var msgRequest = new Request('/fetch?type=message&group=Poren Chiang, 葉闆&startdate=20140414&enddate=20140416');
  var msgInit = {
    method: "GET",
    credentials: "same-origin" };
  fetch(msgRequest, msgInit).then(function(resp) {
    resp.json().then(function(data) {
      var ls = data['message'];
      console.log(ls);
    })
  })
}

window.onload = function(e) {
  fetchUser();
  fetchGroup();
  fetchMessage();
}
</script>
</body>
</html>
